@charset "utf-8";

/*
================================================
CSS Document for MyRobuxGenerator.site
Document created 8/1/22
================================================
*/
/* text styling */
p {
	font-family:"Arial";
}

/* rescaling for mobile websites */
@media only screen and (max-width:800px) {
	div.center {
		width:100%; /*if the screen is smaller than 800px wide, made the center div occupy 100% of the page width*/
		height:100%; /*Do the same thing with the height of the page */
	}
}


/* fonts*/
@font-face { /*font for main title*/
	font-family: Airstrike3D; src:url("font/airstrike3d.ttf"); 
}
.mainTitle {
	font-size:30px;
	font-family: "Airstrike3D";
	color:#00b06f;
}

/* divs */
html {
	height:100%;
}
body { 
	height:100%;
  	background-color: #fcfcfc;
}
.center {
  	position: absolute;
  	margin: auto;
  	
	top: 0;
 	right: 0;
  	bottom: 0;
  	left: 0;
 	
	width: 500px; /* Otherwise, have it occupy a fixed pixel size*/
 	height: min-content;
	
	border-radius:20px;
	
	background-color:#dee1e3;
}

/* for images */
.centerImg {
	margin-top:30px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}

/* for the HTML forms */
input[type=text] {
  	width: 78%;
	
	padding-top:2.5%;
	padding-left:2%;
	padding-bottom:2.5%;
	
	margin-left: 10%;
	margin-right: 10%;
	
	background-color: #202225;
	border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/

    border: 0;
	
	color:#ADAEB2;
	text-align:left;
	font-size:100%;
}
input[type=password] {
  	width: 78%;
	
	padding-top:2.5%;
	padding-left:2%;
	padding-bottom:2.5%;
	
	margin-left: 10%;
	margin-right: 10%;
	
	background-color: #202225;
	border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/

    border: 0;
	
	color:#ADAEB2;
	text-align:left;
	font-size:100%;
}
input[type=submit] {
  	width: 78%;
	
	padding-top:2.5%;
	padding-left:2%;
	padding-bottom:2.5%;
	
	margin-left: 10%;
	margin-right: 10%;
	
	background-color: #5865F2;
	border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/

    border: 0;
	
	color:White;
	text-align:center;
	font-size:100%;
}
.hoveringsubmit:hover {
  	width: 78%;
	
	padding-top:2.5%;
	padding-left:2%;
	padding-bottom:2.5%;
	
	margin-left: 10%;
	margin-right: 10%;
	
	background-color: #4D58DD;
	border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/

    border: 0;
	
	color:White;
	text-align:center;
	font-size:100%;
}
input:focus {outline:none;} /*stop user highlighting the submit sections*/

/*THIS PREVENTS ALL TYPES OF USER SELECTION*/
p { /*For preventing selecting text */
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
